@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.categoryDiv {
  @apply flex flex-col items-start gap-3 w-[80%];

  .cards-container {
    @apply flex flex-col w-full gap-3 p-3 bg-white shadow-md rounded-xl;
  }

  .button-category {
    @apply flex flex-row items-center justify-center w-full p-3 bg-[#265274] shadow-md rounded-xl text-lg text-[#eee0dd] duration-200;

    &:hover {
      @apply bg-[#2d638b];
    }
  }

  .cards-category-container {
    @apply flex flex-wrap items-center w-full h-auto gap-3 justify-evenly rounded-xl;
  }

  .card-category-container {
    @apply flex flex-col items-center;

    & img {
      @apply rounded-[2rem] duration-150 shadow-md hover:scale-105;
    }

    & p {
      @apply text-[#143146] text-sm p-2;
    }
  }

  @media (max-width: 1020px) {
    .card-category-container img {
      @apply w-32 rounded-3xl;
    }
  }

  @media (max-width: 952px) {
    .tag-category {
      @apply text-xs text-center;
    }
    .card-category-container {
      & p {
        @apply text-[10px];
      }
      & img {
        @apply w-20 rounded-3xl;
      }
    }
  }
  @media (max-width: 858px) {
    @apply w-full p-2;
  }
  @media (max-width: 768px) {
    .card-category-container img {
      @apply w-16 rounded-3xl;
    }
  }
}
