@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.orders-container {
  @apply flex flex-col gap-10 p-4 my-10 overflow-hidden bg-white shadow-lg mx-28 rounded-2xl;

  .nav-breadcrumbs {
    @apply px-6 pt-6;
  }
  .nav-breadcrumbs ol li,
  > a {
    @apply text-[#7A8D9B] duration-200;

    & a:hover {
      @apply text-[#7a8d9bb4] underline;
    }
    & p {
      @apply text-[#143146];
    }
  }

  .orders-info {
    @apply flex flex-col gap-4 px-6;

    & section a {
      @apply flex flex-row items-center gap-3;

      & figure {
        @apply object-cover w-12 h-12 overflow-hidden rounded-full shadow-md bg-slate-50;

        & img {
          @apply object-contain w-full h-full duration-200;
        }
      }

      & p {
        @apply text-xl text-[#0d1d29] font-semibold uppercase duration-200;
      }

      &:hover {
        & figure img {
          @apply scale-105;
        }

        & p {
          @apply text-[#2d638b];
        }
      }
    }

    .orders-title {
      @apply text-2xl text-[#143146] font-semibold uppercase border-b py-2 border-[#DABEB6];
    }
  }

  .orden-container {
    @apply flex flex-col w-full h-full p-6 gap-14;

    .orden-card {
      @apply flex flex-col gap-5 p-5 rounded-lg shadow-md bg-slate-50;

      .orden-info-container {
        @apply flex flex-row items-center justify-between gap-4 border-b pb-4 border-[#DABEB6];

        .orden-header {
          .orden-number {
            .orden-number-title {
              @apply text-xl text-[#143146] font-medium duration-200;
            }

            .orden-id {
              @apply text-[#7A8D9B] font-normal text-xs pb-2;
            }
          }

          .orden-date {
            @apply text-base text-[#7A8D9B] font-normal duration-200;
          }
        }

        .orden-pago {
          @apply flex flex-row items-center gap-2;

          .orden-pago-title {
            @apply text-base text-[#2d638b] font-normal duration-200;
          }

          .orden-pago-pendiente {
            @apply flex flex-row items-center gap-1 text-[#ee2130] text-base font-normal duration-200;

            .icon-pendiente {
              @apply cursor-help;
            }
          }

          .orden-pago-completado {
            @apply flex flex-row items-center gap-1 text-[#7A8D9B] text-base font-normal duration-200;

            .icon-completado {
              @apply cursor-help;
            }
          }
        }

        .orden-button-container {
          & a {
            @apply relative flex flex-row items-center justify-center gap-3 px-4 py-3 overflow-hidden duration-200 rounded-lg;

            & p {
              @apply text-base text-[#143146] font-medium duration-200;
            }

            & span {
              @apply absolute flex flex-row items-center gap-1 text-[#eee0dd] translate-x-[-200%] opacity-0 duration-200;
            }

            &:hover {
              @apply bg-[#143146];

              & p {
                @apply opacity-0 translate-x-[200%] text-[#eee0dd];
              }

              & span {
                @apply translate-x-0 opacity-100;
              }
            }
          }

          .orden-completado-text {
            @apply relative flex flex-row justify-center items-center gap-3 px-4 py-3 rounded-lg text-base text-[#7A8D9B] font-medium duration-200 overflow-hidden;

            &:hover {
              @apply text-[rgba(122,141,155,0.5)] cursor-not-allowed;
            }
          }
        }
      }

      .orden-total {
        .orden-total-pendiente {
          @apply text-[#ee2130] text-base font-medium;
        }

        .orden-total-completado {
          @apply text-[#2d638b] text-base font-medium;
        }
      }
      .orden-details {
        .orden-summary {
          @apply flex flex-row items-center gap-2 text-base text-[#2d638b] font-normal p-2 rounded-lg duration-200 cursor-pointer;

          .summary-caret {
            @apply duration-200;
          }

          &:hover {
            @apply text-[#143146] bg-slate-100;
          }

          &:active {
            @apply text-[#2d628bc9];
          }
        }

        &[open] {
          .orden-summary .summary-caret {
            @apply rotate-180;
          }
        }

        .orden-items {
          @apply flex flex-wrap justify-around gap-5 p-4;

          .card-order-item {
            @apply relative pb-10 overflow-hidden bg-white rounded-lg shadow-md;
            & a {
              @apply flex flex-col items-start gap-3 pb-2 w-52;

              & figure {
                @apply object-cover w-full h-40 overflow-hidden border-b border-[#DABEB6];

                & img {
                  @apply object-contain w-full h-full duration-200;
                }
              }
            }
            .item-name {
              @apply text-base w-full text-[#143146] font-medium duration-200 px-2;
            }
            .item-price {
              @apply text-base w-full text-[#0d1d29] font-semibold duration-200 p-2;
            }

            .item-count {
              @apply absolute bottom-0 right-0 text-base w-full text-[#2d638b] font-normal duration-200 p-2;
            }

            &:hover {
              & a {
                & figure {
                  & img {
                    @apply scale-105;
                  }
                }
                .item-name {
                  @apply text-[#2d638b];
                }
                .item-price {
                  @apply text-[#143146];
                }
              }
            }
          }
        }
      }
    }
    .orden-empty-container {
      @apply flex flex-col items-center justify-center gap-4 w-full bg-[#143146] h-96 rounded-lg;
      .empty-orden-text {
        @apply text-3xl text-[#eee0dd] font-bold flex items-center gap-2;
      }
      .go-to-shop {
        @apply bg-[#143146] px-10 py-4 rounded-lg flex items-center justify-center relative overflow-hidden duration-300;

        & p {
          @apply text-lg text-[#eee0dd] font-normal opacity-100 duration-300 underline;
        }

        & span {
          @apply text-3xl text-[#eee0dd] absolute flex flex-row gap-2 items-center justify-center translate-x-[-200%] opacity-0 duration-300;
        }

        &:hover {
          @apply bg-[#2d638b];

          & p {
            @apply opacity-0 translate-x-[200%];
          }

          & span {
            @apply translate-x-0 opacity-100;
          }
        }
      }
    }
  }

  @media (max-width: 1020px) {
    @apply mx-16;
  }
  @media (max-width: 952px) {
  }
  @media (max-width: 858px) {
    @apply gap-6 p-0 mx-4;
    .orden-container {
      @apply p-3;
      .orden-card {
        @apply p-3;
        .orden-info-container {
          .orden-header {
            .orden-number {
              .orden-number-title {
                @apply text-lg text-[#143146] font-semibold duration-200;
              }

              .orden-id {
                @apply text-[#7A8D9B] font-normal text-[.7rem] pb-2;
              }
            }

            .orden-date {
              @apply text-xs text-[#7A8D9B] font-normal duration-200;
            }
          }

          .orden-pago {
            @apply gap-1;

            .orden-pago-title {
              @apply text-xs;
            }

            .orden-pago-pendiente {
              @apply text-xs;
            }

            .orden-pago-completado {
              @apply text-xs;
            }
          }

          .orden-button-container {
            & a {
              @apply p-3;

              & p {
                @apply text-sm;
              }

              & span .icon-pendiente {
                @apply w-6 h-6;
              }
            }

            .orden-completado-text {
              @apply p-3 text-sm;
            }
          }
        }

        .orden-details {
          .orden-summary {
            @apply text-sm;
          }
        }
      }

      .orden-empty-container {
        .empty-orden-text {
          @apply text-xl uppercase;

          .empty-orden-icon {
            @apply w-5 h-5 cursor-help;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    @apply p-0 pb-6 mx-0;

    .orden-container {
      .orden-card {
        .orden-info-container {
          .orden-pago {
            @apply hidden;
          }

          .orden-button-container {
            & a {
              @apply p-3;

              & p {
                @apply text-[.7rem];
              }

              & span .icon-pendiente {
                @apply w-6 h-6;
              }
            }

            .orden-completado-text {
              @apply p-3 text-[.7rem];
            }
          }
        }
      }
      .orden-empty-container {
        .empty-orden-text {
          @apply text-lg font-medium uppercase;

          .empty-orden-icon {
            @apply w-5 h-5 cursor-help;
          }
        }
      }
    }
  }
}
