@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.cart-container {
  @apply flex flex-col gap-10 p-4 my-10 overflow-hidden mx-28;

  .nav-breadcrumbs {
    @apply p-0;
  }
  .nav-breadcrumbs ol li,
  > a {
    @apply text-[#7A8D9B] duration-200;

    & a:hover {
      @apply text-[#7a8d9bb4] underline;
    }
    & p {
      @apply text-[#143146];
    }
  }

  .MuiBreadcrumbs-separator {
    @apply m-1;
  }

  .cart-title {
    @apply text-3xl text-[#143146] font-bold border-b pb-4 border-[#DABEB6] flex items-center gap-2;
  }

  .cart-items {
    @apply flex flex-col gap-10;

    .cart-item {
      @apply flex flex-row items-center gap-10 p-4 bg-white rounded-lg shadow-lg;

      .item-info-container {
        @apply flex flex-row items-center w-full gap-2;

        & figure {
          @apply object-cover w-40 h-40 overflow-hidden;

          & img {
            @apply object-contain w-full h-full duration-200;
          }

          &:hover {
            & img {
              @apply scale-110;
            }
          }
        }

        .item-info {
          @apply flex flex-col gap-1;

          .item-category {
            @apply text-[#7A8D9B] text-sm;
          }

          .item-name {
            @apply text-[#143146] text-lg font-semibold;

            &:hover {
              @apply underline;
            }
          }

          .item-brand {
            @apply text-[#2d638b] text-base;
          }

          .item-price {
            @apply text-[#143146] text-xl font-bold mt-4;
          }
        }
      }
      .item-quantity {
        @apply flex flex-row items-center gap-2 text-[#2d638b];

        .quantity-label {
          @apply text-lg font-semibold text-[#143146];
        }

        & select {
          @apply w-12 p-1 bg-[#f9f9f9] rounded cursor-pointer duration-200;

          & option {
            @apply bg-[#f9f9f9];
          }

          &:focus {
            @apply outline-0;
          }

          &:hover {
            @apply bg-[#f1f1f1];

            & option {
              @apply bg-[#f9f9f9];
            }
          }

          &:active {
            @apply bg-[#ececec];
          }
        }
      }

      .remove-item-button {
        @apply relative flex items-center justify-center cursor-pointer;

        .remove-icon {
          @apply text-[#7A8D9B] text-3xl mr-4 duration-200;
        }

        .remove-icon-x {
          @apply opacity-100;
        }

        .remove-icon-trash {
          @apply absolute opacity-0;
        }

        &:hover {
          .remove-icon {
            @apply text-[#ee2130];
          }

          .remove-icon-x {
            @apply rotate-90 opacity-0;
          }

          .remove-icon-trash {
            @apply opacity-100;
            -webkit-animation: wobble-ver-right 0.8s both;
            animation: wobble-ver-right 0.8s both;
          }
        }
      }
      .cart-item-responsive {
        @apply hidden;
      }
    }
    .item-delivery-method {
      @apply flex flex-col items-start gap-2;

      .item-delivery-method-title {
        @apply text-xl text-[#0d1d29] font-semibold;
      }

      .item-delivery-method-text {
        @apply text-[#2d638b] text-base pt-2 font-normal;
      }

      .item-delivery-method-select {
        @apply text-[#143146] font-medium p-2 shadow-md rounded-md cursor-pointer duration-200;

        &:focus {
          @apply outline-0;
        }
      }
      .item-delivery-method-info {
        @apply text-[#7A8D9B] text-xs flex gap-1 items-center;
      }
    }
  }

  .total-price {
    @apply border-b pb-4 border-[#DABEB6] flex items-center justify-between gap-2;

    & p {
      @apply text-2xl text-[#143146] font-bold;
    }

    .finish-button {
      @apply bg-[#143146] px-10 py-4 rounded-lg flex items-center relative overflow-hidden duration-300;

      & p {
        @apply text-lg text-[#eee0dd] font-normal opacity-100 duration-300;
      }

      & span {
        @apply text-3xl text-[#eee0dd] absolute flex flex-row gap-2 items-center translate-x-[-200%] opacity-0 duration-300;
      }

      &:hover {
        @apply bg-[#2d638b];

        & p {
          @apply opacity-0 translate-x-[200%];
        }

        & span {
          @apply translate-x-0 opacity-100;
        }
      }
    }
  }
  .empty-cart {
    @apply flex flex-col items-center justify-center gap-4 w-full bg-[#143146] h-96 rounded-lg;

    .empty-cart-text {
      @apply text-3xl text-[#eee0dd] font-bold flex items-center gap-2;
    }
    .go-to-shop {
      @apply bg-[#143146] px-10 py-4 rounded-lg flex items-center justify-center relative overflow-hidden duration-300;

      & p {
        @apply text-lg text-[#eee0dd] font-normal opacity-100 duration-300 underline;
      }

      & span {
        @apply text-3xl text-[#eee0dd] absolute flex flex-row gap-2 items-center justify-center translate-x-[-200%] opacity-0 duration-300;
      }

      &:hover {
        @apply bg-[#2d638b];

        & p {
          @apply opacity-0 translate-x-[200%];
        }

        & span {
          @apply translate-x-0 opacity-100;
        }
      }
    }
  }

  @media (max-width: 1020px) {
    @apply mx-16;
  }
  @media (max-width: 952px) {
    @apply mx-8;
  }
  @media (max-width: 858px) {
    @apply gap-6 p-0 mx-4;
    .cart-title {
      @apply text-2xl text-[#143146] font-bold border-b pb-4 border-[#DABEB6] flex items-center gap-2;
    }
  }
  @media (max-width: 768px) {
    @apply mx-2;
    .cart-items .cart-item {
      @apply flex-col justify-around gap-4 p-2;

      .item-info-container {
        @apply w-auto gap-0;

        & figure {
          @apply w-24;

          & img {
            @apply object-contain w-full h-full duration-200;
          }
        }

        .item-info {
          @apply flex flex-col gap-0;

          .item-category {
            @apply text-xs;
          }

          .item-name {
            @apply text-base font-semibold;
          }

          .item-brand {
            @apply text-sm;
          }

          .item-price {
            @apply mt-2 text-lg font-semibold;
          }
        }
      }
      .item-quantity {
        @apply hidden;
      }
      .remove-item-button {
        @apply hidden;
      }

      .cart-item-responsive {
        @apply flex flex-row items-center gap-4 p-2;
        .item-quantity {
          @apply flex;
        }
        .remove-item-button {
          @apply flex;
        }
      }
    }
    .cart-items .item-delivery-method {
      @apply flex flex-col items-start gap-1;

      .item-delivery-method-title {
        @apply text-lg font-medium;
      }

      .item-delivery-method-text {
        @apply pt-1 text-sm font-normal;
      }

      .item-delivery-method-select {
        @apply p-1 text-sm font-medium;

        &:focus {
          @apply outline-0;
        }
      }
      .item-delivery-method-info {
        @apply text-[#7A8D9B] text-xs flex flex-wrap gap-1 items-center;
      }
    }

    .total-price {
      @apply flex flex-col items-start gap-4;
      & p {
        @apply text-xl text-[#143146] font-bold underline;
      }

      .finish-button {
        @apply bg-[#143146] w-full px-10 py-4 rounded-lg flex items-center justify-center relative overflow-hidden duration-300;

        & p {
          @apply text-lg text-[#eee0dd] font-normal opacity-100 duration-300;
        }

        & span {
          @apply text-3xl text-[#eee0dd] absolute flex flex-row gap-2 items-center translate-x-[-200%] opacity-0 duration-300;
        }

        &:hover {
          @apply bg-[#2d638b];

          & p {
            @apply opacity-0 translate-x-[200%];
          }

          & span {
            @apply translate-x-0 opacity-100;
          }
        }
      }
    }
  }
}
