@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.filter-container {
  @apply bg-[#eed0c6] p-4 rounded-lg shadow-lg max-w-[300px];
}

.filter-container label {
  @apply mb-2;
}

.filter-container li {
  @apply list-none;
}
