@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 250, 242;
  user-select: none;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  .tippy-box {
    @apply font-semibold text-white bg-white border drop-shadow-lg;

    .tippy-arrow::before {
      @apply text-white border;
    }
    .tippy-content {
      @apply p-2 text-[#143146];
    }
  }

  @media (max-width: 1220px) {
    .main-container {
      @apply px-10;
    }
  }

  @media (max-width: 1024px) {
    .main-container {
      @apply px-6;
    }
  }

  @media (max-width: 858px) {
    .main-container {
      @apply px-3;
    }
  }
  @media (max-width: 768px) {
    .main-container {
      @apply px-1;
    }
  }
}

@-webkit-keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-3px) rotate(6deg);
    transform: translateY(-3px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(4px) rotate(-6deg);
    transform: translateY(4px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-6px) rotate(2.6deg);
    transform: translateY(-6px) rotate(2.6deg);
  }
  60% {
    -webkit-transform: translateY(3px) rotate(-2.4deg);
    transform: translateY(3px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-2px) rotate(1.2deg);
    transform: translateY(-2px) rotate(1.2deg);
  }
}
@keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-3px) rotate(6deg);
    transform: translateY(-3px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(4px) rotate(-6deg);
    transform: translateY(4px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-6px) rotate(2.6deg);
    transform: translateY(-6px) rotate(2.6deg);
  }
  60% {
    -webkit-transform: translateY(3px) rotate(-2.4deg);
    transform: translateY(3px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-2px) rotate(1.2deg);
    transform: translateY(-2px) rotate(1.2deg);
  }
}
