@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 250, 242;
  user-select: none;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  @media (max-width: 1220px) {
    .main-container {
      @apply px-10;
    }
  }

  @media (max-width: 1024px) {
    .main-container {
      @apply px-6;
    }
  }

  @media (max-width: 858px) {
    .main-container {
      @apply px-3;
    }
  }
  @media (max-width: 768px) {
    .main-container {
      @apply px-1;
    }
  }
}
