@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.search-bar-container {
  @apply flex items-center gap-3 w-full relative px-16 mt-6;

  .search-bar {
    @apply border p-2 pl-10 w-full rounded-md shadow-md;

    &::placeholder {
      @apply text-[#7A8D9B];
    }

    &:focus {
      @apply outline-0 border-[#2d638b];
    }
  }

  .clear-button {
    @apply absolute left-[4.5rem] p-1 text-[#143146] duration-300;

    &:hover {
      @apply text-[#ee2130];
    }
  }

  .search-button {
    @apply flex justify-center items-center gap-2 bg-[#2d638b] text-white p-2 rounded-lg duration-300;

    &:hover {
      @apply bg-[#2d628bde];
    }
  }

  @media (max-width: 1024px) {
  }

  @media (max-width: 858px) {
    @apply px-6;

    .search-bar {
      &::placeholder {
        @apply text-sm;
      }
    }

    .clear-button {
      @apply absolute left-7 p-1 text-[#143146] duration-300;

      &:hover {
        @apply text-[#ee2130];
      }
    }
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 640px) {
  }

  @media (max-width: 480px) {
  }

  @media (max-width: 320px) {
  }
}
