@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

nav {
  @apply bg-[#DABEB6] w-full h-24 sticky top-0 left-0 px-20 py-2 flex justify-between z-50;

  .btn-container {
    @apply hidden;

    .checkbtn {
      @apply hidden text-3xl text-[#143146] cursor-pointer p-2 bg-[#E3D4D0] rounded-full shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] duration-300;

      &:hover {
        @apply text-[#2d638b] bg-[#eee0dd];
      }
    }

    .login-btn {
      @apply text-3xl text-[#143146] cursor-pointer p-2 bg-[#E3D4D0] rounded-full shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] duration-300;

      &:hover {
        @apply text-[#2d638b] bg-[#eee0dd];
      }
    }
  }

  #check-menu {
    @apply hidden absolute;
  }

  #check-userMenu {
    @apply hidden absolute;
  }

  & ul {
    @apply mr-5 flex gap-10 items-center;

    .menu {
      @apply flex items-center gap-8;
      & li {
        & a {
          @apply relative text-lg font-semibold text-[#143146] duration-300 flex items-center gap-1 overflow-hidden;

          &::after {
            content: "";
            @apply absolute w-full h-[2px] bg-[#143146] bottom-0 left-0 translate-y-[-2rem] duration-200;
          }

          &:hover {
            @apply text-[#2d638b];

            &::after {
              @apply bg-[#2d638b] translate-y-0;
            }
          }
        }

        &:nth-child(5) {
          .details-user-navBar {
            & details {
              & summary {
                @apply translate-x-[-500%] transition-transform duration-[.5s] opacity-0 overflow-visible text-[#DABEB6] uppercase gap-5 w-full flex items-center cursor-pointer;

                .caret-user-details {
                  @apply duration-300;
                }
                & p {
                  @apply text-xl font-semibold flex items-center gap-2;
                }

                &:hover {
                  @apply text-[#f1e5e3];
                }
              }

              & ol {
                @apply bg-[#1b415c] mt-5 rounded-lg uppercase;

                .caret-up-user {
                  @apply hidden;
                }

                & li a {
                  @apply p-3 left-0 opacity-100 translate-x-0 text-[#f1e5e3] duration-200 w-full text-sm font-normal delay-0;

                  &::after {
                    @apply hidden;
                  }
                  &:hover {
                    @apply text-[#93d0ff];
                  }
                }

                & li:last-child {
                  @apply hidden;
                }
              }

              &[open] {
                & summary {
                  @apply text-[#f1e5e3];
                }

                .caret-user-details {
                  @apply rotate-180;
                }
              }
            }
          }

          .list-user-navBar {
            & input {
              @apply absolute hidden;
            }

            .user-navBar {
              @apply relative flex items-center gap-2 bg-[#E3D4D0] px-3 py-2 rounded-[15px] shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] text-lg font-semibold text-[#143146] cursor-pointer duration-200;

              .caret-user {
                @apply absolute bottom-[-0.5rem] right-0 bg-[#143146] rounded-full p-1 w-5 h-5 duration-200;
              }

              &:hover {
                @apply brightness-105;
              }

              &:active {
                @apply brightness-95;
              }
            }

            & ol {
              @apply absolute bg-[#fff0ec] mt-4 rounded-lg right-20 h-0 overflow-hidden;

              & li {
                @apply py-1 border-b border-b-[#DABEB6] overflow-hidden;

                & a {
                  @apply text-base font-normal text-[#143146] delay-0 py-2;

                  & p {
                    @apply opacity-0 translate-x-[150%] duration-300;
                  }

                  &:hover {
                    @apply text-[#2d638b];
                  }

                  &::after {
                    @apply hidden;
                  }
                }

                &:last-child {
                  @apply border-b-0 block;
                  & a {
                    @apply font-semibold;
                  }
                }
              }

              .caret-up-user {
                @apply absolute top-[-1rem] right-[4rem];
              }
            }
          }

          #check-user:checked ~ ol {
            @apply flex flex-col gap-3 h-auto overflow-visible p-5;

            & li a p {
              @apply translate-x-0 opacity-100;
            }
          }

          #check-user:checked ~ label .caret-user {
            @apply rotate-180;
          }
        }

        &:last-child {
          @apply hidden;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    @apply px-14;

    & ul .menu li:nth-child(5) .list-user-navBar ol {
      @apply right-14;
    }
  }

  @media (max-width: 1020px) {
    @apply px-12;

    & ul .menu li:nth-child(5) .list-user-navBar ol {
      @apply right-12;

      & li a {
        @apply text-sm;
      }
    }

    & ul .menu li {
      & a {
        @apply text-sm;
      }

      &:last-child {
        .user-navBar {
          @apply text-sm;
        }
      }
    }
  }

  @media (max-width: 952px) {
    @apply px-10;
    .logo-container {
      @apply ml-0;
      & p {
        @apply text-[4rem];
      }
    }
  }

  @media (max-width: 858px) {
    & ul {
      @apply fixed justify-center w-full h-[100vh] top-24 left-[-100%] bg-[#143146] z-10;
      transition: all 0.5s;

      .menu {
        @apply flex flex-col items-start h-[100vh] justify-evenly relative pb-48 gap-0;
        & li {
          @apply flex items-center;

          .user-navBar-link {
            @apply text-xl font-semibold text-[#DABEB6] uppercase gap-5 w-full flex translate-x-[-500%] transition-transform duration-[.5s] opacity-0 overflow-visible;

            &::after {
              @apply hidden;
            }

            .icon-list {
              @apply scale-125;
            }

            &:hover {
              @apply text-[#f1e5e3];
            }
          }

          &:nth-child(1) a {
            @apply delay-[.1s];
          }

          &:nth-child(2) a {
            @apply delay-[.125s];
          }

          &:nth-child(3) a {
            @apply delay-[.15s];
          }

          &:nth-child(4) a {
            @apply delay-[.175s];
          }

          &:nth-child(5) summary {
            @apply delay-[.2s];
          }

          &:nth-child(6) a {
            @apply delay-[.225s];
          }

          &:last-child {
            @apply block;
          }

          .details-user-navBar {
            @apply block;
          }

          .list-user-navBar {
            @apply hidden;
          }
        }
      }
    }

    .btn-container {
      @apply flex items-center gap-5;
      .checkbtn {
        @apply block;
      }
    }

    #check-menu:checked ~ ul {
      @apply left-0;

      .menu li a,
      summary {
        @apply translate-x-0 opacity-100;
      }
    }

    #check-menu:checked ~ .btn-container .checkbtn {
      .bars {
        @apply hidden;
      }

      .cross {
        @apply block;
      }
    }
  }

  @media (max-width: 400px) {
    .logo-container {
      .img {
        @apply hidden;
      }
    }
  }
}
